# .gitignore

# Node modules
node_modules/

# Environment variables
*/.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build directories
/frontend/build
/backend/dist

# OS-specific files
.DS_Store
Thumbs.db


# Learn Stacks
*/Learn.Md